# Data are saved by compressing folders (or single files) to .tar.xz format
Data/**/*.dat
Data/**/*.sdds
Data/**/*.sdf_txt
Data/**/filterSpecs.json
Data/**/*.ini
# Do not monitor output folders of different tools
RunningSimulations/RFTrack/YongkeTool_V?/**/*.dat
RFTrackOutput/*
# Python
**/__pycache__
**/.ipynb_checkpoints
# Elegant output files
RunningSimulations/Elegant/**/*.bun
RunningSimulations/Elegant/**/*.cen
RunningSimulations/Elegant/**/*.fin
RunningSimulations/Elegant/**/*.mag
RunningSimulations/Elegant/**/*.out
RunningSimulations/Elegant/**/*.par
RunningSimulations/Elegant/**/*.sig
RunningSimulations/Elegant/**/*.twi
RunningSimulations/Elegant/**/*.sdds
RunningSimulations/Elegant/FCCee_WP1p3/Fodo/FodoOptim.lat
RunningSimulations/Elegant/FCCee_WP1p3/Matching/Matched.lat
# Astra output files
**/Astra/**/*.001
**/Astra/**/*.ini
**/Astra/**/win_config.dat
**/Astra/**/NORRAN
**/Astra/**/*.001
