**/*~
**/*.dat
**/*.sdf_txt
# Python
**/__pycache__
**/.ipynb_checkpoints
# Elegant output files
**/*.bun
**/*.cen
**/*.fin
**/*.mag
**/*.out
**/*.par
**/*.sig
**/*.twi
# Astra output files
**/*.001
**/*.ini
**/win_config.dat
**/NORRAN
